/* règles générales */
    body    
        {
        font-family: 'Raleway', sans-serif;
        max-width: 1440px;
        margin: auto;
        padding-left: 3.5%;
        padding-right: 3.5%;
        }
    h1
        {
        font-size: 137.5%;
        }
    h2
        {
         font-size: 137.5%;
        }
    h3
        {
        font-size: 100%;
        }   
    p
        {
        font-size: 100%;
        } 
    i
        {
            color: #0065fc;
        }  
    .greystar i
        {
            color: #f2f2f2;
        }
/*partie top Header*/
    header
        {
        color: black ;
        display:flex ;
        justify-content:space-between ;
        width: 100%;
        }
    #logo
        {
        width: 61px;
        align-self: flex-end;
        }
    .navigation
        {
        display: flex;
        justify-content: center;
        list-style: none;
        color: black;
        height: 100%;
        width: 26%;
        }
    header a 
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: black;
        padding-top: 10%;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        }    
    header a:link 
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: black;
        }
    header a :visited
        {
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: black;
        }
    header a:focus
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: #0065fc;
        outline: none;
        } 
    header a:hover
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px #0065fc solid;
        color: #0065fc;
        outline: none;
        }
    
    header a:active 
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px #0065fc solid;
        color: #0065fc;
        outline: none;
        }
/*Partie titre et recherche (section recherche)*/  
    #recherche
        {
        padding-top: 7.5%;
        }
    .toolsearch
        {
        display: flex;
        flex-direction: row;
        border: 2px solid #f2f2f2;
        border-radius: 15px;
        max-width: 418px;
        height: 49px;
        overflow: hidden;
        position: relative;
        }
    #searchIcon
        {
        visibility: hidden;
        position: absolute;
        width: 50px;
        height: 100%;
        border: 2px solid #0065fc;
        border-radius:0px 15px 15px 0px;
        background-color: #0065fc;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        }
    #searchIcon i
        {
            color: white;
        }
    #searchtext
        {
        color:white;
        background-color: #0065fc;
        width: 132px;
        height: 100%;
        border: none;
        }
    #map
        {
        background-color: #f2f2f2;
        color: black;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        
        }
    input
        {
        border: none;
        background-color: white;
        color: black;
        width: 56.46%;
        } 
/*Partie filtre */  
    #filter
        {
        max-width: 63.5%;
        display: flex;
        justify-content: space-between;
        padding-top: 3.5%;
        padding-bottom: 3.5%;
        padding-left: 0.65%;       
        }
    #filter button
        {   
            min-height: 48px;
            border: 2px solid #f2f2f2;
            border-radius: 25px;
            background-color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 4px 20px;
            justify-content: center;       
        }
    #filter button:hover
        {
        background-color: rgba(222, 235, 255, 1);
        border: 2px solid #f2f2f2;   
        }
    #filter button:active
        {
        background-color: rgba(222, 235, 255, 1);
        border: 2px solid #f2f2f2;  
        }
/*Corps de la page */ 
    .infos
        {
        padding-left: 0.65%;
        }    
    #Aera_main
        {
        display: flex;
        justify-content: space-between;        
        }
/*zone hébergement marseille*/
    #hébergement
        {
        background-color: #f2f2f2;
        border-radius: 20px 20px 20px 20px;
        max-width: 61.11%;
        }
    #hébergement>h2
        {
        padding-left: 3%;
        padding-top: 3%;
        }
    #hébergement>h3
        {
        padding-bottom: 4.54%;
        padding-left: 4.54%;
        }
    #hébergement div
        {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-end;
        }
    .card_hébergement
        {
        border: 5px solid white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px white;
        background-color: white;
        overflow: hidden;
        width: 27.95%;
        height: 199px;
        margin-bottom: 35px;        
        }
    .card_hébergement img
        {
        width: 100%;
        }
    .card_hébergement p
        {
        padding-left: 20px;
        }
    .name
        {
        font-weight:bold ;
        }
/*zone hébergement populaire*/
    #populaires
        {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        border-radius: 20px 20px 20px 20px;
        max-width: 31.57%;
        }
    #title_Area_Populaires
        {
        display:inline-flex;
        justify-content: space-around;
        padding-top: 3%;
        }
    #title_Area_Populaires i
        {
        align-self: center;
        }
    #AreaCardPopulaires
        {
        display:flex;
        flex-direction: column;
        align-items: center;
        }
    .card_populaires
        {
        background-color: white;
        border: 2px solid white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px  white;
        width: 81.67%;
        height: 144px;
        display: flex;
        margin-bottom: 35px;
        }
    .card_populaires img
        {
        width: 41%;
        border: 5px solid white;
        border-radius: 20px 0px 0px 20px;
        }
    .card_populaires a
        {
        display: flex;
        }
    .legend
        {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
/*Partie activité*/
    #activités
        {
        padding-bottom: 3.5%;
        padding-top: 3.5%;
        }
    #Area_card_Activités
        {
        display: flex;
        justify-content: space-between;
        }
    .card_Activités
        {
        border: 2px solid #d9d9d9;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px  #f2f2f2;
        overflow: hidden;
        width: 20.97%; 
        }
    .card_Activités img
        {
        height: 387px;
        width: 100%;
        }
    .card_Activités h3
        {
        padding-left: 7.69%;
        
        }
/*Règles commune aux card*/
    .card_Activités a,.card_hébergement a,.card_populaires a
        { 
        outline: none;
        text-decoration: none;
        color: black;
        }    
    .card_Activités a:link,.card_hébergement a:link,.card_populaires a:link
        {
        outline: none;
        text-decoration: none;
        color: black;
        }
    .card_Activités a:visited,.card_hébergement a:visited,.card_populaires a:visited 
        {
        outline: none;
        text-decoration: none;
        color: black;
        }
    .card_Activités a:focus,.card_hébergement a:focus,.card_populaires a:focus
        { 
        outline: none;
        text-decoration: none;
        color: black;
        }
    .card_Activités a:hover,.card_hébergement a:hover,.card_populaires a:hover
        {
        outline: none;
        text-decoration: none;
        color: black;
        }
    .card_Activités a:active,.card_hébergement a:active,.card_populaires a:active 
        { 
        outline: none;
        text-decoration: none;
        color: black;
        }
/*Footer*/
    footer
        {
        display: flex  ;
        background-color: #f2f2f2;
        }
    #Apropos
        {
        padding-left: 5.22%;
        }
    #Noshebergements,#Assistance
        {
        padding-left: 17.18%;
        }
/*Responsive format tablette*/
@media screen and (max-width:992px) and (min-width:768px)
{
    #filter
        {
        max-width: 100%;
        }
    #Aera_main
        {
        flex-direction: column;
        }
    #hébergement
        {
        max-width: unset;    
        }
    #populaires
        {
        max-width: unset;
        margin-top: 35px;
        }
    #title_Area_Populaires
        {
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
        } 
    #AreaCardPopulaires
        {
        justify-content: space-around;
        flex-direction: row;
        }
    .card_populaires
        {
        width: 28.54%;
        }
    .card_Activités img
        {
        width: 100%;
        height: 211px;
        }
}
/* responsive téléphone*/
@media screen and (max-width:768px) 
{
    body
        {
        padding-left: unset;
        padding-right: unset;
        }
    header
        {
        flex-direction: column;
        padding-top: 21px;
        }
    header a
        {
        padding-bottom: 23px;
        border-bottom: 5px solid #f2f2f2;
        }
    header a:hover
        { 
        outline: none;
        text-decoration: none;
        border-bottom: 5px #0065fc solid;
        color: #0065fc;
        border-top: none;
        outline: none;
        }
    #logo
        {
        align-self: center;
        }
    .navigation
        {
        width: 100%; 
        }
    #recherche
        {
        padding-left: 5.3%;
        }
    #searchtext
        {
        visibility: hidden;
        }
    #searchIcon
        {
        visibility: visible;
        }
    .toolsearch
        {
        border: none;
        max-width: 100%;
        }
    input
        {
        border-left: 2px solid #f2f2f2;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        }
    #filter
        {
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 100%;
        }
    #filter>h3
        {
        width: 100%;
        padding-left: 5.3%;
        }
    #filter button 
        {
        width: 42.44%;
        margin-bottom: 14px;
        }
    .infos
        {
        padding-left: 5.3%;
        }
    #Aera_main
        {
        flex-direction: column-reverse;
        }
    #populaires
        {
        border-radius: unset;
        max-width:100%;
        margin-top: 35px;
        }
    #title_Area_Populaires
        {
        justify-content: space-between;
        padding-left: 5.3%;
        padding-right: 5.3%;
        }
        #hébergement>h2 
        {
        padding-left: 5.3%;
        }
    #hébergement, #hébergement div
        {
        background-color: white;
        max-width: unset;
        }
    .card_hébergement
        {   
        width: 81.67%;
        box-shadow: 0px 3px 15px #f2f2f2;
        height: unset;
        }
    .card_hébergement a
        {
        width: 100%;
        }
    .card_hébergement img
        {
        height: 199px;
        }
    #activités>h2
        {
        padding-left: 5.3%;
        }
    #Area_card_Activités
        {
        justify-content: space-around;
        flex-wrap: wrap;
        }
    .card_Activités
        {
        width: 81.67%;
        margin-bottom: 8%;
        }
    .card_Activités img
        {
        height:134px;        
        }
    footer 
        {
        display: flex;
        flex-direction: column;
        }
    #Apropos,#Noshebergements,#Assistance
        {
        padding-left: 13%;
        padding-top: 9%;
        }
}