/* règles générales */
    body    
        {
        font-family: 'Raleway', sans-serif;
        max-width: 1440px;
        margin: auto;
        }
    h1
        {
        font-size: 137.5%;
        }
    h2
        {
         font-size: 137.5%;
        }
    h3
        {
        font-size: 100%;
        }   
    p
        {
        font-size: 100%;
        } 
    i
        {
            color: #0065fc;
        }  
    .greystar i
        {
            color: #f2f2f2;
        }
/*partie top Header*/
    header
        {
        color: black ;
        display:flex ;
        justify-content:space-between ;
        align-content: flex-end;
        width: 100%;
        padding-left: 3% ;
        }
    #logo
        {
        width: 61px;
        align-self: flex-end;
        }
    .navigation
        {
        display: flex;
        justify-content: center;
        align-content: flex-end;
        list-style: none;
        color: black;
        font-size: 100%;
        height: 100%;
        width: 26%;
        }
    header a 
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: black;
        padding-top: 10%;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        }    
    header a:link 
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: black;
        }
    header a :visited
        {
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: black;
        }
    header a:focus
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px white solid;
        color: #0065fc;
        outline: none;
        } 
    header a:hover
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px #0065fc solid;
        color: #0065fc;
        outline: none;
        }
    
    header a:active 
        { 
        outline: none;
        text-decoration: none;
        border-top: 5px #0065fc solid;
        color: #0065fc;
        outline: none;
        }
/*Partie titre et recherche (section recherche)*/   
    #recherche
        {
        padding-left: 3% ;
        }
    #toolsearch
        {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        border: 2px solid #f2f2f2;
        border-radius: 15px;
        max-width: 418px;
        height: 49px;
        overflow: hidden;
        position: relative;
        }
    #searchIcon, #searchIcon i
        {
        visibility:hidden;
        color: white;
        background-color: #0065fc;
        width: 50px;
        height: 100%;
        padding-top: 3.5%;
        display: flex;
        justify-content: center;
        }
    #searchIcon
        {
        position: absolute;
        width: 50px;
        height: 100%;
        

        }
    #searchtext
        {
        color:white;
        background-color: #0065fc;
        width: 132px;
        height: 100%;
       border: none;
       z-index: 1;
        }
    #map
        {
        background-color: #f2f2f2;
        color: black;
        width: 50px;
        height: 100%;
        padding-top: 3.5%;
        display: flex;
        justify-content: center;
        
        }
    input
        {
        border: none;
        background-color: white;
        color: black;
        width: 56.46%;
        } 
/*Partie filtre */  
    #filtre
        {
        max-width: 63.5%;
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        padding: 3.5%;            
        }
    #filtre button
        {
        font-size: 14px;
        box-sizing: border-box;
        min-height: 48px;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 20px;        
        }
    #filtre button:hover
        {
        background-color: rgba(222, 235, 255, 1);
        border: 2px solid #f2f2f2;   
        }
    #filtre button:active
        {
        background-color: rgba(222, 235, 255, 1);
        border: 2px solid #f2f2f2;  
        }
/*Corps de la page */       
    main
        {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 3%;
        padding-right: 3%;       
        }
    #article
        {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;         
        }
/*zone hébergement marseille*/
    #hébergement
        {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        border-radius: 20px 20px 20px 20px;
        max-width: 61.11%;
        }
    #hébergement div
        {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-end;
        }
    .buttonhébergement
        {
        border: 2px solid white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px white;
        background-color: white;
        overflow: hidden;
        width: 27.95%;
        height: 199px;
        margin-bottom: 35px;        
        }
    .buttonhébergement img
        {
        width: 100%;
        }
    .buttonhébergement p
        {
        padding-left: 20px;
        }
    .name
        {
        font-weight:bold ;
        }
/*zone hébergement populaire*/
    #populaires
        {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-around;
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        border-radius: 20px 20px 20px 20px;
        max-width: 31.57%;
        }
    #titleh2
        {
        display:inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-end;
        padding-left: 4.53%;
        padding-right: 4.53%;
        }
    #titleh2 i
        {
        align-self: center;
        }
    #pop
        {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }
    .buttonpopulaires
        {
        background-color: white;
        border: 2px solid white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px  white;
        overflow: hidden;
        width: 81.67%;
        height: 144px;
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;       
        justify-content: space-between ; 
        }
    .buttonpopulaires img
        {
        width: 41%; 
        min-width: 144px; 
        border: 5px solid white;
        border-radius: 20px 0px 0px 20px;
        }
    .buttonpopulaires a
        {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        }
    .legend
        {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        width: 59%;
        }
/*Partie activité*/
    #activités
        {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        padding: 3%;
        }
    #button
        {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 445px;
        height: 75%;
        }
    .buttonActivités
        {
        border: 2px solid #d9d9d9;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 15px  #f2f2f2;
        overflow: hidden;
        width: 20.97%;
        display: flex;
        flex-direction: column;      
        }
    .buttonActivités img
        {
        height: 387px;
        width: 100%;
        }
    .buttonActivités h3
        {
        padding-left: 7.69%;
        
        }
/*Règles commune aux card*/
    .buttonActivités a,.buttonhébergement a,.buttonpopulaires a
        { 
        outline: none;
        text-decoration: none;
        color: black;
        }    
    .buttonActivités a:link,.buttonhébergement a:link,.buttonpopulaires a:link
        {
        outline: none;
        text-decoration: none;
        color: black;
        }
    .buttonActivités a :visited,.buttonhébergement a :visited,.buttonpopulaires a :visited 
        {
        outline: none;
        text-decoration: none;
        color: black;
        }
    .buttonActivités a:focus,.buttonhébergement a:focus,.buttonpopulaires a:focus
        { 
        outline: none;
        text-decoration: none;
        color: black;
        }
    .buttonActivités a:hover,.buttonhébergement a:hover,.buttonpopulaires a:hover
        {
        outline: none;
        text-decoration: none;
        color: black;
        }
    .buttonActivités a:active,.buttonhébergement a:active,.buttonpopulaires a:active 
        { 
        outline: none;
        text-decoration: none;
        color: black;
        }
/*Footer*/
    footer
        {
        display: flex  ;
        flex-direction: row;
        justify-content: space-around;
        background-color: #f2f2f2;
        padding-left: 3.35%;
        padding-right: 3.35%;
        }
/*Responsive forma tablette*/
@media screen and (max-width:992px) and (min-width:768px)
{
    #filtre
        {
        max-width: 100%;
        }
    #article
        {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    #hébergement
        {
        max-width: 883px;    
        }
    #populaires
        {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-around;
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        border-radius: 20px 20px 20px 20px;
        max-width: 883px;
        min-height: 278px;
        margin-top: 35px;
        }
    .buttonpopulaires
        {
        width: 28.54%;
        }
    .buttonpopulaires img
    {
        min-width: 0;
    }
    #pop
        {
        justify-content: space-around;
        }
    #titleh2
        {
        display:inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        }
    #pop
        {
        display: flex;
        flex-direction: row;
        }
    .buttonActivités img
        {
        width: 100%;
        height: 211px;
        }
}
/* responsive téléphone*/
@media screen and (max-width:768px) 
{
    header
        {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 21px;
        }
    #logo
        {
        height: 19px;
        width: 61px;
        align-self: center;
        }
    .navigation
        {
        width: 100%; 
        }
    header a
        {
        padding-bottom: 23px;
        border-bottom: 5px solid #f2f2f2;
        }
    header a:hover
        { 
        outline: none;
        text-decoration: none;
        border-bottom: 5px #0065fc solid;
        color: #0065fc;
        border-top: none;
        outline: none;
        }
    #searchtext
        {
        visibility: hidden;
        }
    #searchIcon
        {
        visibility: visible;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2 ;
        border-radius:0px 15px 15px 0px;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 3.5%;
        overflow: hidden;
        }
    #searchIcon i
        {
        visibility: visible;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 3.5%;
        }
    #map
    {
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
    }
    #toolsearch
        {
        border: none;
        max-width: 100%;
        }
    input
        {
        border-left: 2px solid #f2f2f2;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        }
    #filtre
        {
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 100%;
        }
    #filtre h3
        {
        align-self:flex-start;
        width: 100%;
        }
    #filtre button 
        {
        width: 42.44%;
        margin-bottom: 14px;
        }
    #article
        {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        }
    #populaires
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        align-content: space-around;
        background-color: #f2f2f2;
        border: 2px solid #f2f2f2;
        border-radius: 20px 20px 20px 20px;
        max-width:768px;
        min-width: 0;
        margin-top: 35px;
    }
    #titleh2
    {
        display:inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
    }
    #pop
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }
    #hébergement, #hébergement div
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        align-content: unset;
        max-width: unset;
        border: none;
    }
    .buttonhébergement
    {   
    width: 100%;
    box-shadow: 0px 3px 15px #f2f2f2;
    }
    .buttonhébergement a
    {
        width: 100%;
        max-height:199px;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
    .buttonhébergement img
    {
        max-height: 62.31%;
        width: 100%;
    }
    .buttonhébergement p
    {
        min-height:37.69%;
    }
    #button
        {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        max-height: none;
        height: 75%;
       
        }
    .buttonActivités
    {
        width: 100%;
        max-height: 190px;
        margin-bottom: 8%;
        
    }
    .buttonActivités img{
        height: 70.52%;
        max-height: 134px;
        
    }
    footer 
    {
    display: flex;
    flex-direction: column;
    }
}